@font-face {
    font-family: nowRegular;
    src: url(../../fonts/Now-Regular.otf);
}
@font-face {
    font-family: nowLight;
    src: url(../../fonts/Now-Light.otf);
}
@font-face {
    font-family: nowBold;
    src: url(../../fonts/Now-Black.otf);
}